.container-fluid
  .row-fluid.text-center.clearfix
    - @artworks.each do |artwork|
      .artwork.col-xs-12.col-sm-6.col-lg-4
        .panel.panel-default
          .panel-body
            = image_tag attachment_url(artwork, :image), class: 'art-preview'
          .panel-footer
            = link_to artwork, class: 'btn btn-primary btn-block' do
              View
