.container-fluid
  .row-fluid.text-center.clearfix
    - unless @artwork.image.nil?
      .artwork.col-xs-12.col-md-4
        .panel.panel-default
          .panel-heading
            Result
          .panel-body
            = image_tag attachment_url(@artwork, :image), class: 'art-preview'
    .artwork.col-xs-12.col-md-4
      .panel.panel-default
        .panel-heading
          Source Image
        .panel-body
          = image_tag attachment_url(@artwork.source, :image), class: 'art-preview'
    .artwork.col-xs-12.col-md-4
      .panel.panel-default
        .panel-heading
          Style Image
        .panel-body
          = image_tag attachment_url(@artwork, :style), class: 'art-preview'
