%h1 Weclome to Satellite Art

= image_tag 'http://feeder.gina.alaska.edu/media/W1siZiIsIjIwMTIvMTEvMjIvMDJfMjlfMTJfNzc5X25wcC4xMjExMy4yMjAzX3RydWVjb2xvcl9hYV8xNTAwLmpwZyJdLFsicCIsInRodW1iIiwiMjUweDI1MCMiXV0'

= link_to 'new_artwork'