.container
  .row
    .col-sm-8.col-sm-push-2
      %p
        Imagery on this site generated with
        = link_to 'Neural Art', "https://github.com/kaishengtai/neuralart"

      %p
        Satellite imagery recieved and processed at the
        = link_to 'Geographic Information Network of Alaska.', "http://gina.alaska.edu"
        More imagery can be found at the
        = link_to 'GINA Puffin Feeder', 'http://feeder.gina.alaska.edu'

      %p
        Artworks used for style are Public Domain images.