%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      = link_to root_url, class: 'navbar-brand' do
        Satellite Art
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li= link_to "Sign Out", destroy_user_session_url
        - else
          %li= link_to "Sign In", new_user_session_url